body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 42px;
}

/* botões */

#buttons-container {
  margin-bottom: 20px;
}

#buttons-container button {
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
}

/* jogo */

#container {
  width: 300px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /*quebra a linha*/

  /*centralizar uma div na tela*/
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.box {
  height: 100px;
  border: 5px solid #000;
  box-sizing: border-box;
  flex: 1 1 33%; /*garantir as três divs por linha*/
}

#block-1,
#block-2,
#block-3 {
  border-top: none;
}

#block-1,
#block-4,
#block-7 {
  border-left: none;
}

#block-3,
#block-6,
#block-9 {
  border-right: none;
}

#block-7,
#block-8,
#block-9 {
  border-bottom: none;
}

/* símbolos */

.x {
  font-size: 65px;
  color: red;
  display: inline-block; /*aceitar elementos na mesma linha*/
  line-height: 100px; /*centralizar o X (que é fonte) no box height que definimos 100px*/
}

.o {
  width: 50px;
  height: 50px;
  border: 5px solid green;
  border-radius: 50%;
  display: inline-block; /*aceitar elementos na mesma linha*/
  margin-top: 17px; /*alinhar a bolinha dentro da div*/
}

.hide {
  display: none !important; /*comentar para mostrar e testar*/
}

#scoreboard-container {
  font-weight: bold;
  margin-top: 30px;
  font-size: 25px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

#x-scoreboard {
  color: red;
  margin-right: 3px;
}

#o-scoreboard {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid green;
  border-radius: 50%;
  margin-right: 3px;
}

.score-box {
  /*separar o X da bolinha*/
  display: inline-block;
  margin: 0px 20px;
}

/* msg vitoria */

#message p {
  /*escrever qq coisa na tag p do html para ver a formatação*/
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 150px;
  width: 500px;
  font-size: 50px;
  background-color: #000;
  color: #fff;
  padding: 20px;
  /*display: none; para não atrapalhar o visual*/
}
